/* CSS for the ScrollToTopButton component */
.scroll-to-top {
  position: sticky;
  height: fit-content;
  top: 200px;
  opacity: 0;
  transition: opacity 0.3s;
  }
  
  .scroll-to-top.visible {
    opacity: 1;
  }
  