.h1-tag, .p-tag{
    text-align: center;
}
.button{
    width: 10%;
    height: 50px;
    background-color: green;
    font-size: medium;
    color: white;
}
.button:hover{
    background-color: rgb(9, 137, 9);
    cursor: pointer;
}