.h1-tag,
.p-tag {
  text-align: center;
}
.button {
  background-color: green;
  font-size: medium;
  color: white;
  max-width: 50%;
  height: 2rem;
  width: 10rem;
}
.button:hover {
  background-color: rgb(9, 137, 9);
  cursor: pointer;
}
.task-board {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* flex-wrap: wrap; */
  /* width: 50%; */
  max-width: 50%;
  min-width: 20%;
  box-shadow: 0px 0px 0px 1px blue;
  flex-direction: column;
  margin: 50px auto;
}

input {
  height: 2rem;
  border-radius: 20px;
  margin: 10px;
}
