a {
  padding: 2%;
  text-decoration: none;
  color: blue;
  font-weight: 600;
}
a:hover,
a.active {
  color: red;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0 5px 2px black;
  position: sticky;
  z-index: 100000;
  font-size: larger;
  letter-spacing: 1px;
  top: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
}
