a {
  padding: 2%;
  text-decoration: none;
  color: blue;
  font-weight: 600;
}
a:hover,
a.active {
  color: red;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  box-shadow: 0 0 5px 2px black;
  position: sticky;
  z-index: 100;
  top: 0px;
  margin-top: 10px;
}
