.link {
  padding: 2%;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.link:hover {
  color: red;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: blue;
  box-shadow: 0 0 5px 2px black;
  position: sticky;
  top: 0px;
  margin-top: 0px;

}
