.image-container {
  display: flex;
  justify-content: center;
}
.image {
  height: inherit;
  padding: 2%;
}
#fab {
  background-color: #00264f;
  color: #999b9f;
  height: 25px;
  box-shadow: 0 0 0;
  width: 40px;
}
#fab:hover {
  background-color: blue;
  color: white;
}
